body {
  border: 20px solid #bdc3c7;
  margin: auto;
  padding: auto;
  width: 75%;
  /* padding-top: 1.66%; */
  /* border-top: 30px; */
}

.date {
  color: #3498db;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.2em;
  margin: 5%;

}

h1 {
  color: #2c3e50;
  margin: 5%;
  text-transform: uppercase;
}

h2 {
  color: #2c3e50;
  margin: 5%;
}

p {
  font-family: 'Raleway', 'Source Sans Pro', sans-serif;
  margin: 5%;
  }

.firstpara {
  border-left: 6px solid lightgray;
  padding: 5px;
}

.blog-para {
  padding-bottom: 10px;
  width: auto;
  /* border-bottom: 1px solid #bdc3c7; */
}

